#error, #warning, #lint {
    height: 33%;
    width: 100%;
}

#container {
    width: 320px;
    height: 376px;
}

#border {
    border: solid 10px;
    border-color: white;
    height: 100%;
}

#detail {
    margin-top: 2em;
}